@import "bourbon"
@import "vars.sass"


body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.6
	font-family: "Roboto", sans-serif
	overflow-x: hidden

.hidden
	display: none

a
	color: inherit
	text-decoration: none
	&:hover,
	&:focus
		text-decoration: none
		color: inherit

.button
	width: 190px
	height: 45px
	outline: none
	background: $accent-color-pink
	color: $accent-color-orange
	font-size: em(18px)
	border: none
	border-radius: 20px
	margin-top: 20px
	transition: background .3s ease
	&:hover
		background: darken($accent-color-pink, 27%)
	&:active
		background: $accent-color-pink

.header
	height: auto
	background: $main-color

	.logo
		padding-top: 16px
	.menu
		width: 415px
		display: flex
		justify-content: space-between
		float: left
		padding-top: 30px
		a
			color: #a8b9c0
			transition: all .5s ease
			&:hover
				color: #05a7a6

	.search
		padding-top: 29px
		margin-left: 10px
		.fa
			margin-left: 25px
			padding-left: 20px
			border-left: 1px solid #a8b9c0
			font-size: 19px
			color: #01c0ba


		input
			border: none
			outline: none
			border-radius: 12px
			background: darken(#ffffff, 15%)
			color: #444444
			margin-left: 15px
			transition: background .5s ease
			&:hover,
			&:focus
				background: #ffffff

.header-context
	text-align: center
	padding: 155px 0

	h2
		margin-bottom: 0
		font-weight: lighter
		font-size: em(52px)
		color: #f0f8fb
	h3
		margin-top: 0
		font-weight: normal
		font-size: em(18px)
		color: #a8b9c0

	


