@import "bourbon"
@import "vars.sass"


*::-webkit-input-placeholder
	color: #666
	opacity: 1

*:-moz-placeholder
	color: #666
	opacity: 1

*::-moz-placeholder
	color: #666
	opacity: 1

*:-ms-input-placeholder
	color: #666
	opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #666
body input:required:valid,
body textarea:required:valid
	color: #666


// start block top
.top-text
	padding-top: 60px 
	padding-bottom: 40px
	text-align: center
	
	h2
		font-family: "RobotoLight", sans-serif
		font-size: em(38px)
		margin-bottom: 0

	h3
		font-family: "RobotoLight", sans-serif
		font-size: em(14px)
		color: #c5d0d5
		margin-top: 10px
	.hr
		hr
			border: 0
			height: 2px
			width: 140px
			background: #00c6bf
// end block top

.service
	background: #ffffff
	
	.service-item
		text-align: center

		.wrap-img
			display: flex
			justify-content: space-around
		.number
			background: url("/img/sprite-numbers.png")
			position: absolute
			width: 100%

		.first
			background-position: -0px -0px
			width: 79px
			height: 194px
			margin-left: -26px;
		.second
			background-position: -0px -204px
			width: 132px
			height: 194px
		.third
			background-position: -0px -408px
			width: 131px
			height: 198px

		.fa
			z-index: 2
			position: relative
			padding-top: 128px
			font-size: 70px
			color: #00c6bf

		h2
			padding-top: 20px
			font-family: "RobotoCondensedBold", sans-serif
			font-size: em(30px)
			color: $accent-color-orange

		p
			font-size: em(18px)
			padding-bottom: 20px
			color: #a8b9c0


.work
	background: #eff7fa
	text-align: center
	margin-bottom: 100px

	&-item
		width: 270px
		height: 200px
		margin-bottom: 20px
		border: 1px solid lighten($main-color, 74%)
		opacity: .7
		transition: all .5s ease
		&:hover
			transform: scale(1.1)
			opacity: 1
		&::before
			content: ""
			background: green


	.button
		width: 230px
		margin: 40px 0 70px


.category
	text-align: center
	margin-bottom: 60px
	cursor: pointer
	&-item
		padding: 12px 20px
		margin-left: 20px
		border-radius: 9px
		color: #b6c5cc
		font-size: 	em(18px)
		transition: all .3s ease
		&:hover
			background: $accent-color-pink
			color: $accent-color-orange
		&:active
			background: darken($accent-color-pink, 20%)
		&:first-child
			margin-left: 0
	

		
//ALWAYS END
@import "media"

//Load Libs SASS
@import "app/libs/animate/animate.sass"
